body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:
    -apple-system,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stock-list {
  border-collapse: collapse;
}

.stock-list td,
.stock-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.stock-list th {
  padding: 12px;
  text-align: left;
  background-color: #5ac58e;
  color: white;
}

.stock-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.stock-list tr:hover {
  background-color: #ddd;
}

.main-container {
  width: 100%;
  height: 100%;
}

.left-container {
  width: 20%;
  height: 100%;
  float: left;
}

.right-container {
  width: 80%;
  height: 100%;
  float: right;
}

.sub-container {
  width: 100%;
  height: 100%;
}

.left-sub-container {
  width: 60%;
  height: 100%;
  float: left;
}

.right-sub-container {
  width: 40%;
  height: 100%;
  float: right;
}
